<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro de cliente</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/vendor/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
  </head>
  <div th:replace="fragments/NavBar :: navbar"></div>
  <body class="bg-light">
    <main class="container">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" autocomplete="off">
      </div>
      <div class="mb-3">
        <label for="sobrenome" class="form-label">Sobrenome</label>
        <input type="text" class="form-control" id="sobrenome" name="sobrenome" autocomplete="off">
      </div>
      <div class="btn-group btn-group-sm" role="group" aria-label="">
        <button type="button" class="btn btn-outline-dark">Cadastrar</button>
        <button type="button" class="btn btn-outline-dark">Pesquisar</button>
      </div>
    </main>
    <script th:src="@{/vendor/js/bootstrap.min.js}" type="text/javascript"></script>
  </body>
</html>
