<th:block th:fragment="script">
  <script th:src="@{/vendor/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/jquery.mask.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/jquery.maskMoney.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/sweetalert2.js}" type="text/javascript"></script>
  <script th:src="@{/app/js/Barbershop.js}" type="text/javascript"></script>
</th:block>