<!DOCTYPE html>

<html>
  <head>
    <title>Novo cliente sistema</title>
    <th:block th:replace="fragments/CssFragments :: css"></th:block>
  </head>
  <div th:replace="fragments/NavBar :: navbar"></div>
  <body>
    <main class="container">
      <form th:action="@{/cliente-sistema/salvar}" method="post" th:object="${clienteSistema}">
        <th:block th:include="fragments/MensagemSucesso"></th:block>
        <th:block th:include="fragments/MensagemErro"></th:block>
        <div class="card">
          <h5 class="card-header">Cadastro de novo cliente no sistema</h5>
          <div class="card-body">
            <div class="row">
              <div class="mb-3 col-sm-12 col-md-12 col-12 col-lg-8">
                <label for="nomeComercio" class="form-label">Nome do comercio</label>
                <input required="true" th:field="*{nomeComercio}" type="text" class="form-control" id="nomeComercio" name="nomeComercio">
              </div>
              <div class="mb-3 col-sm-12 col-md-12 col-12 col-lg-4">
                <label for="cpfCnpj" class="form-label">CPF/CNPJ</label>
                <input required="true" th:field="*{cpfCnpj}" type="text" class="form-control mascara-cpf-cnpj" id="cpfCnpj" name="cpfCnpj">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-12 col-lg-4">
                <label for="estado" class="form-label">Estado</label>
                <div class="input-group mb-3">
                  <input required="true" type="text" th:field="*{estado}" min="0" class="form-control" id="estado" name="estado"/>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-12 col-lg-4">
                <label for="cidade" class="form-label">Cidade</label>
                <div class="input-group mb-3">
                  <input required="true" type="text" th:field="*{cidade}" class="form-control" id="cidade" name="cidade"/>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-12 col-lg-4">
                <label for="bairro" class="form-label">Bairro</label>
                <div class="input-group mb-3">
                  <input required="true" type="text" th:field="*{bairro}" class="form-control" id="bairro" name="bairro"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-12 col-lg-4">
                <label for="cep" class="form-label">CEP</label>
                <div class="input-group mb-3">
                  <input required="true" type="text" th:field="*{cep}" class="form-control cep" id="cep" name="cep"/>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-12 col-lg-4">
                <label for="logradouro" class="form-label">Logradouro</label>
                <div class="input-group mb-3">
                  <input required="true" type="text" th:field="*{logradouro}" class="form-control" id="logradouro" name="logradouro"/>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-12 col-lg-4">
                <label for="qtdUsuario" class="form-label">Quantidade usuário</label>
                <div class="input-group mb-3">
                  <input required="true" type="number" min="1" th:field="*{qtdUsuario}" class="form-control" id="qtdUsuario" name="qtdUsuario"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-12 col-lg-2 mb-1">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="ativo" name="ativo" th:checked="*{ativo}">
                  <label class="form-check-label" for="ativo">Ativo?</label>
                </div>
              </div>
            </div>

            <div class="btn-group mt-2" role="group" aria-label="">
              <button type="submit" class="btn btn-sm btn-outline-secondary">
                Salvar
              </button>
              <a type="button" th:href="@{/clienteSistema/pesquisar}" class="btn btn-sm btn-outline-secondary">
                Pesquisar
              </a>
            </div>
          </div>
        </div>
      </form>
    </main>
    <th:block th:replace="fragments/JsFragments :: script"></th:block>
    <script th:src="@{/app/js/clientesistema/Novo.js}" type="text/javascript"></script>
  </body>
</html>
